In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
form_ = "MC"

file=f"/home/jossian/repository/Mestrado/CLSP_PY/MODELO_{form_}/MODELO_{form_}_RF_OPT/RESULTADOS/clsr_{form_}_relax_and_opt_table.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['instance','rf','trf','opt','topt','time']


rf_opt_mc = table
rf_opt_mc

        instance       rf     trf      opt   topt    time
0      c52_1.txt   9796.8   7.109   9776.4  3.408  10.517
1      c52_2.txt  10204.6   8.481  10159.2  3.926  12.407
2      c52_3.txt   9413.8   6.664   9381.8  2.918   9.582
3      c52_4.txt  10400.2   8.280  10381.4  4.022  12.302
4      c52_5.txt  11243.5   7.099  11172.0  3.670  10.770
..           ...      ...     ...      ...    ...     ...
103  c52_104.txt  72897.5  14.312  72897.5  3.639  17.951
104  c52_105.txt  71415.8  12.833  71363.0  3.756  16.589
105  c52_106.txt  84083.0  16.283  83903.2  4.212  20.495
106  c52_107.txt  64242.8  12.141  64197.0  3.462  15.604
107  c52_108.txt  67209.8  13.807  67104.0  3.595  17.402

[108 rows x 6 columns]

In [9]:
set_ = 'set01'

tab = pd.DataFrame()
for i in range(1,13):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set01_rf_opt_mc = tab
set01_rf_opt_mc

   instance            rf       trf       opt      topt       time
MC    set01  10718.816667  6.802833  10678.45  3.319333  10.122333

In [10]:
set_ = 'set02'

tab = pd.DataFrame()
for i in range(13,25):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set02_rf_opt_mc = tab
set02_rf_opt_mc

   instance            rf       trf      opt      topt     time
MC    set02  17377.058333  8.363167  17353.1  3.984417  12.3475

In [11]:
set_ = 'set03'

tab = pd.DataFrame()
for i in range(25,37):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set03_rf_opt_mc = tab
set03_rf_opt_mc

   instance            rf      trf           opt      topt       time
MC    set03  48375.308333  9.83625  48312.366667  4.291167  14.127333

In [12]:
set_ = 'set04'

tab = pd.DataFrame()
for i in range(37,49):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set04_rf_opt_mc = tab
set04_rf_opt_mc

   instance       rf      trf           opt      topt       time
MC    set04  15032.0  6.72025  14963.783333  3.297833  10.018167

In [13]:
set_ = 'set05'

tab = pd.DataFrame()
for i in range(49,61):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set05_rf_opt_mc = tab
set05_rf_opt_mc

   instance            rf    trf        opt      topt     time
MC    set05  22049.716667  8.969  21968.925  3.693417  12.6625

In [14]:
set_ = 'set06'

tab = pd.DataFrame()
for i in range(61,73):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set06_rf_opt_mc = tab
set06_rf_opt_mc

   instance         rf       trf           opt      topt     time
MC    set06  53233.225  11.40625  53137.708333  4.104333  15.5105

In [15]:
set_ = 'set07'

tab = pd.DataFrame()
for i in range(73,85):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set07_rf_opt_mc = tab
set07_rf_opt_mc

   instance            rf       trf           opt   topt      time
MC    set07  31788.681818  5.446636  27090.736364  2.557  8.003727

In [16]:
set_ = 'set08'

tab = pd.DataFrame()
for i in range(95,97):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set08_rf_opt_mc = tab
set08_rf_opt_mc

   instance       rf     trf      opt    topt     time
MC    set08  51671.5  8.9895  43365.9  3.6545  12.6445

In [17]:
set_ = 'set09'

tab = pd.DataFrame()
for i in range(97,109):
    t = rf_opt_mc.loc[rf_opt_mc['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set09_rf_opt_mc = tab
set09_rf_opt_mc

   instance            rf       trf           opt      topt       time
MC    set09  73353.191667  14.00275  73182.041667  3.825417  17.828167

In [18]:
res_rf_opt_mc = pd.DataFrame()
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set01_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set02_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set03_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set04_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set05_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set06_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set07_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set08_rf_opt_mc], ignore_index= True)
res_rf_opt_mc = pd.concat([res_rf_opt_mc,set09_rf_opt_mc], ignore_index= True)
res_rf_opt_mc

  instance            rf        trf           opt      topt       time
0    set01  10718.816667   6.802833  10678.450000  3.319333  10.122333
1    set02  17377.058333   8.363167  17353.100000  3.984417  12.347500
2    set03  48375.308333   9.836250  48312.366667  4.291167  14.127333
3    set04  15032.000000   6.720250  14963.783333  3.297833  10.018167
4    set05  22049.716667   8.969000  21968.925000  3.693417  12.662500
5    set06  53233.225000  11.406250  53137.708333  4.104333  15.510500
6    set07  31788.681818   5.446636  27090.736364  2.557000   8.003727
7    set08  51671.500000   8.989500  43365.900000  3.654500  12.644500
8    set09  73353.191667  14.002750  73182.041667  3.825417  17.828167

In [19]:
tab = pd.DataFrame({
    'instance':f'res_rf_opt_mc',
    'rf':res_rf_opt_mc['rf'].mean(),
    'trf':res_rf_opt_mc['trf'].mean(),
    'opt':res_rf_opt_mc['opt'].mean(),
    'topt':res_rf_opt_mc['topt'].mean(),
    'time':res_rf_opt_mc['time'].mean(),
    },index=[f'res_rf_opt_mc']
)

res_rf_opt_mc = pd.concat([res_rf_opt_mc, tab], ignore_index=True)
res_rf_opt_mc

print(res_rf_opt_mc[['instance','rf','trf','opt','topt','time']].to_latex(index=False,float_format="%.2f"))

\begin{tabular}{lrrrrr}
\toprule
instance & rf & trf & opt & topt & time \\
\midrule
set01 & 10718.82 & 6.80 & 10678.45 & 3.32 & 10.12 \\
set02 & 17377.06 & 8.36 & 17353.10 & 3.98 & 12.35 \\
set03 & 48375.31 & 9.84 & 48312.37 & 4.29 & 14.13 \\
set04 & 15032.00 & 6.72 & 14963.78 & 3.30 & 10.02 \\
set05 & 22049.72 & 8.97 & 21968.93 & 3.69 & 12.66 \\
set06 & 53233.23 & 11.41 & 53137.71 & 4.10 & 15.51 \\
set07 & 31788.68 & 5.45 & 27090.74 & 2.56 & 8.00 \\
set08 & 51671.50 & 8.99 & 43365.90 & 3.65 & 12.64 \\
set09 & 73353.19 & 14.00 & 73182.04 & 3.83 & 17.83 \\
res_rf_opt_mc & 35955.50 & 8.95 & 34450.33 & 3.64 & 12.58 \\
\bottomrule
\end{tabular}

In [21]:
form_ = "SP"

file=f"/home/jossian/repository/Mestrado/CLSP_PY/MODELO_{form_}/MODELO_{form_}_RF_OPT/RESULTADOS/clsr_{form_}_relax_and_opt_table.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['instance','rf','trf','opt','topt','time']


rf_opt_sp = table
rf_opt_sp

        instance       rf     trf      opt   topt    time
0      c52_1.txt   9796.8   4.128   9776.4  2.705   6.833
1      c52_2.txt  10204.6   5.362  10159.2  3.163   8.525
2      c52_3.txt   9413.8   3.888   9381.8  2.569   6.457
3      c52_4.txt  10400.2   5.400  10381.4  3.694   9.094
4      c52_5.txt  11243.5   4.510  11172.0  3.236   7.746
..           ...      ...     ...      ...    ...     ...
103  c52_104.txt  72897.5  20.083  72897.5  3.985  24.069
104  c52_105.txt  71415.8  14.286  71363.0  3.794  18.080
105  c52_106.txt  84083.0  24.308  83903.2  5.269  29.577
106  c52_107.txt  64242.8  11.779  64197.0  3.133  14.912
107  c52_108.txt  67209.8  15.840  67104.0  3.677  19.518

[108 rows x 6 columns]

In [22]:
set_ = 'set01'

tab = pd.DataFrame()
for i in range(1,13):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set01_rf_opt_sp = tab
set01_rf_opt_sp

   instance            rf       trf       opt      topt      time
SP    set01  10718.816667  4.157833  10678.45  2.892917  7.050833

In [23]:
set_ = 'set02'

tab = pd.DataFrame()
for i in range(13,25):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set02_rf_opt_sp = tab
set02_rf_opt_sp

   instance            rf       trf           opt     topt     time
SP    set02  17377.058333  5.922917  17353.099917  3.50875  9.43175

In [24]:
set_ = 'set03'

tab = pd.DataFrame()
for i in range(25,37):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set03_rf_opt_sp = tab
set03_rf_opt_sp

   instance            rf       trf           opt      topt       time
SP    set03  48375.308333  9.453417  48312.366667  4.649333  14.102917

In [25]:
set_ = 'set04'

tab = pd.DataFrame()
for i in range(37,49):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set04_rf_opt_sp = tab
set04_rf_opt_sp

   instance       rf     trf           opt      topt      time
SP    set04  15032.0  4.9535  14963.783333  2.854167  7.807917

In [26]:
set_ = 'set05'

tab = pd.DataFrame()
for i in range(49,61):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set05_rf_opt_sp = tab
set05_rf_opt_sp

   instance            rf       trf        opt     topt       time
SP    set05  22049.716667  7.690583  21968.925  3.51725  11.207833

In [27]:
set_ = 'set06'

tab = pd.DataFrame()
for i in range(61,73):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set06_rf_opt_sp = tab
set06_rf_opt_sp

   instance         rf     trf           opt   topt       time
SP    set06  53233.225  10.933  53137.708333  4.386  15.318833

In [29]:
set_ = 'set07'

tab = pd.DataFrame()
for i in range(73,85):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set07_rf_opt_sp = tab
set07_rf_opt_sp

   instance         rf      trf           opt      topt      time
SP    set07  33013.075  4.97175  28003.458333  2.892333  7.864333

In [30]:
set_ = 'set08'

tab = pd.DataFrame()
for i in range(85,97):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set08_rf_opt_sp = tab
set08_rf_opt_sp

   instance            rf       trf           opt      topt       time
SP    set08  42352.816667  6.912917  37289.458333  3.248167  10.161083

In [31]:
set_ = 'set09'

tab = pd.DataFrame()
for i in range(97,109):
    t = rf_opt_sp.loc[rf_opt_sp['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set09_rf_opt_sp = tab
set09_rf_opt_sp

   instance            rf        trf           opt      topt    time
SP    set09  73353.191667  18.926583  73182.041667  4.351167  23.278

In [32]:
res_rf_opt_sp = pd.DataFrame()
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set01_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set02_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set03_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set04_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set05_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set06_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set07_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set08_rf_opt_sp], ignore_index= True)
res_rf_opt_sp = pd.concat([res_rf_opt_sp,set09_rf_opt_sp], ignore_index= True)
res_rf_opt_sp

  instance            rf        trf           opt      topt       time
0    set01  10718.816667   4.157833  10678.450000  2.892917   7.050833
1    set02  17377.058333   5.922917  17353.099917  3.508750   9.431750
2    set03  48375.308333   9.453417  48312.366667  4.649333  14.102917
3    set04  15032.000000   4.953500  14963.783333  2.854167   7.807917
4    set05  22049.716667   7.690583  21968.925000  3.517250  11.207833
5    set06  53233.225000  10.933000  53137.708333  4.386000  15.318833
6    set07  33013.075000   4.971750  28003.458333  2.892333   7.864333
7    set08  42352.816667   6.912917  37289.458333  3.248167  10.161083
8    set09  73353.191667  18.926583  73182.041667  4.351167  23.278000

In [33]:
tab = pd.DataFrame({
    'instance':f'res_rf_opt_sp',
    'rf':res_rf_opt_sp['rf'].mean(),
    'trf':res_rf_opt_sp['trf'].mean(),
    'opt':res_rf_opt_sp['opt'].mean(),
    'topt':res_rf_opt_sp['topt'].mean(),
    'time':res_rf_opt_sp['time'].mean(),
    },index=[f'res_rf_opt_sp']
)

res_rf_opt_sp = pd.concat([res_rf_opt_sp, tab], ignore_index=True)
res_rf_opt_sp

print(res_rf_opt_sp[['instance','rf','trf','opt','topt','time']].to_latex(index=False,float_format="%.2f"))

\begin{tabular}{lrrrrr}
\toprule
instance & rf & trf & opt & topt & time \\
\midrule
set01 & 10718.82 & 4.16 & 10678.45 & 2.89 & 7.05 \\
set02 & 17377.06 & 5.92 & 17353.10 & 3.51 & 9.43 \\
set03 & 48375.31 & 9.45 & 48312.37 & 4.65 & 14.10 \\
set04 & 15032.00 & 4.95 & 14963.78 & 2.85 & 7.81 \\
set05 & 22049.72 & 7.69 & 21968.93 & 3.52 & 11.21 \\
set06 & 53233.23 & 10.93 & 53137.71 & 4.39 & 15.32 \\
set07 & 33013.08 & 4.97 & 28003.46 & 2.89 & 7.86 \\
set08 & 42352.82 & 6.91 & 37289.46 & 3.25 & 10.16 \\
set09 & 73353.19 & 18.93 & 73182.04 & 4.35 & 23.28 \\
res_rf_opt_sp & 35056.13 & 8.21 & 33876.59 & 3.59 & 11.80 \\
\bottomrule
\end{tabular}

In [34]:
form_ = "STD"

file=f"/home/jossian/repository/Mestrado/CLSP_PY/MODELO_{form_}/MODELO_{form_}_RF_OPT/RESULTADOS/clsr_{form_}_relax_and_opt_table.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['instance','rf','trf','opt','topt','time']


rf_opt_std = table
rf_opt_std

        instance       rf    trf      opt   topt   time
0      c52_1.txt   9883.2  0.526   9883.2  0.369  0.895
1      c52_2.txt  10235.8  0.544  10181.0  0.413  0.957
2      c52_3.txt   9442.8  0.476   9404.6  0.315  0.791
3      c52_4.txt  10451.2  0.538  10418.6  0.413  0.952
4      c52_5.txt  11201.0  0.570  11164.5  0.382  0.951
..           ...      ...    ...      ...    ...    ...
103  c52_104.txt  81737.0  0.516  78664.0  0.364  0.880
104  c52_105.txt  76685.8  0.330  74869.0  0.286  0.616
105  c52_106.txt  90922.6  0.344  86501.6  0.241  0.585
106  c52_107.txt  67157.2  0.326  64972.4  0.232  0.557
107  c52_108.txt  68544.8  0.401  66727.6  0.302  0.704

[108 rows x 6 columns]

In [36]:
set_ = 'set01'

tab = pd.DataFrame()
for i in range(1,13):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set01_rf_opt_std = tab
set01_rf_opt_std

    instance        rf       trf        opt      topt      time
STD    set01  10748.35  0.542333  10712.275  0.391583  0.933917

In [37]:
set_ = 'set02'

tab = pd.DataFrame()
for i in range(13,25):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set02_rf_opt_std = tab
set02_rf_opt_std

    instance       rf      trf           opt      topt      time
STD    set02  17384.5  0.58925  17327.008333  0.397417  0.986667

In [38]:
set_ = 'set03'

tab = pd.DataFrame()
for i in range(25,37):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set03_rf_opt_std = tab
set03_rf_opt_std

    instance         rf       trf           opt      topt      time
STD    set03  48396.575  0.548167  48316.116667  0.353583  0.901833

In [39]:
set_ = 'set04'

tab = pd.DataFrame()
for i in range(37,49):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set04_rf_opt_std = tab
set04_rf_opt_std

    instance            rf      trf           opt     topt      time
STD    set04  15608.541667  0.38775  15053.383333  0.30025  0.688167

In [40]:
set_ = 'set05'

tab = pd.DataFrame()
for i in range(49,61):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set05_rf_opt_std = tab
set05_rf_opt_std

    instance        rf       trf           opt      topt      time
STD    set05  22737.25  0.447333  22322.841667  0.317417  0.764917

In [41]:
set_ = 'set06'

tab = pd.DataFrame()
for i in range(61,73):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set06_rf_opt_std = tab
set06_rf_opt_std

    instance            rf       trf      opt      topt      time
STD    set06  53435.591667  0.460083  53111.9  0.310833  0.770917

In [42]:
set_ = 'set07'

tab = pd.DataFrame()
for i in range(73,85):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set07_rf_opt_std = tab
set07_rf_opt_std

    instance            rf       trf        opt      topt      time
STD    set07  32253.366667  0.260167  27976.775  0.237417  0.497833

In [43]:
set_ = 'set08'

tab = pd.DataFrame()
for i in range(85,97):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set08_rf_opt_std = tab
set08_rf_opt_std

    instance       rf       trf           opt     topt      time
STD    set08  41857.8  0.264917  37574.291667  0.21125  0.475917

In [44]:
set_ = 'set09'

tab = pd.DataFrame()
for i in range(97,108):
    t = rf_opt_std.loc[rf_opt_std['instance'] == f'c52_{i}.txt']
    tab = pd.concat([tab,t])

tab = pd.DataFrame({
    'instance':f'{set_}',
    'rf':tab['rf'].mean(),
    'trf':tab['trf'].mean(),
    'opt':tab['opt'].mean(),
    'topt':tab['topt'].mean(),
    'time':tab['time'].mean(),
    },index=[f'{form_}']
)

set09_rf_opt_std = tab
set09_rf_opt_std

    instance       rf       trf           opt      topt      time
STD    set09  80114.3  0.374455  78116.327273  0.238545  0.612818

In [45]:
res_rf_opt_std = pd.DataFrame()
res_rf_opt_std = pd.concat([res_rf_opt_std,set01_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set02_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set03_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set04_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set05_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set06_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set07_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set08_rf_opt_std], ignore_index= True)
res_rf_opt_std = pd.concat([res_rf_opt_std,set09_rf_opt_std], ignore_index= True)
res_rf_opt_std

  instance            rf       trf           opt      topt      time
0    set01  10748.350000  0.542333  10712.275000  0.391583  0.933917
1    set02  17384.500000  0.589250  17327.008333  0.397417  0.986667
2    set03  48396.575000  0.548167  48316.116667  0.353583  0.901833
3    set04  15608.541667  0.387750  15053.383333  0.300250  0.688167
4    set05  22737.250000  0.447333  22322.841667  0.317417  0.764917
5    set06  53435.591667  0.460083  53111.900000  0.310833  0.770917
6    set07  32253.366667  0.260167  27976.775000  0.237417  0.497833
7    set08  41857.800000  0.264917  37574.291667  0.211250  0.475917
8    set09  80114.300000  0.374455  78116.327273  0.238545  0.612818

In [46]:
tab = pd.DataFrame({
    'instance':f'res_rf_opt_std',
    'rf':res_rf_opt_std['rf'].mean(),
    'trf':res_rf_opt_std['trf'].mean(),
    'opt':res_rf_opt_std['opt'].mean(),
    'topt':res_rf_opt_std['topt'].mean(),
    'time':res_rf_opt_std['time'].mean(),
    },index=[f'res_rf_opt_std']
)

res_rf_opt_std = pd.concat([res_rf_opt_std, tab], ignore_index=True)
res_rf_opt_std

print(res_rf_opt_std[['instance','rf','trf','opt','topt','time']].to_latex(index=False,float_format="%.2f"))

\begin{tabular}{lrrrrr}
\toprule
instance & rf & trf & opt & topt & time \\
\midrule
set01 & 10748.35 & 0.54 & 10712.27 & 0.39 & 0.93 \\
set02 & 17384.50 & 0.59 & 17327.01 & 0.40 & 0.99 \\
set03 & 48396.58 & 0.55 & 48316.12 & 0.35 & 0.90 \\
set04 & 15608.54 & 0.39 & 15053.38 & 0.30 & 0.69 \\
set05 & 22737.25 & 0.45 & 22322.84 & 0.32 & 0.76 \\
set06 & 53435.59 & 0.46 & 53111.90 & 0.31 & 0.77 \\
set07 & 32253.37 & 0.26 & 27976.77 & 0.24 & 0.50 \\
set08 & 41857.80 & 0.26 & 37574.29 & 0.21 & 0.48 \\
set09 & 80114.30 & 0.37 & 78116.33 & 0.24 & 0.61 \\
res_rf_opt_std & 35837.36 & 0.43 & 34501.21 & 0.31 & 0.74 \\
\bottomrule
\end{tabular}